{
  "singleQuote": false,
  "tabWidth": 2,
  "bracketSpacing": true,
  "printWidth": 120,
  "endOfLine": "lf",
  "jsxBracketSameLine": false,
  "proseWrap": "preserve",
  "semi": true,
  "trailingComma": "all",
  "useTabs": false
}
